<div class="content">
        <div class="sufee-login d-flex align-content-center flex-wrap">
                <div class="row w-100">
                    <div class="col-md-12">
                        <div class="login-content mt-0">
                            <div class="login-logo">
                                <a href="index.html">
                                    <img class="align-content" src="../assets/images/logo.png" alt="">
                                </a>
                            </div>
                            <div class="login-form">
                                <form>
                                    <div class="form-group">
                                        <label>User Name</label>
                                        <input type="email" class="form-control" placeholder="User Name">
                                    </div>
                                    <div class="form-group">
                                        <label>Email address</label>
                                        <input type="email" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Agree the terms and policy
                                        </label>
                                    </div>
                                    <div class="social-login-content">
                                        <div class="social-button">
                                            <button type="button" class="btn btn-primary btn-flat btn-addon mb-3">Register</button>
                                        </div>
                                    </div>      
                                </form>
                            </div>
                        </div>
                    </div>    
                </div>   
        </div>    
</div>

