.header-bottom{
	background-color: #f0f0f0
}
.box-info-h-top{
	line-height: 3rem;
	border-bottom: 1px solid #ABA6A6
}
.header-center{
	line-height: 5rem
}
.header-menu ul{
	list-style: none;
	padding: 0px;
	margin: 0px
}
.header-menu ul li{
	display: inline-block;
}
.header-menu a{
	text-decoration: none;
	color: black;
	padding: 1rem;
	font-size: 1rem
}
.header-menu a:hover{
	background-color: #F2F1F1;
	color: red;
}
.pe-7s-user,.pe-7s-cart{
	font-size: 25px;
	color: black
}
