<header>
	<div>
		<div class="container">
			<div class="row box-info-h-top">
				<div class="col-6">
					<app-site-icon></app-site-icon>
				</div>
				<div class="col-6 text-right">
					<div class="row">
						<div class="col-8 pl-0">
							<span class="pe-7s-mail"></span>
							demotheme@gmail.com
						</div>
						<div class="col-4 pr-0">
							<span class="fa fa-clock-o"></span>
							9.00 AM - 18.00 PM
						</div>
					</div>
				</div>
			</div>
			<div class="row header-center">
				<div class="col-2 pl-0 pr-0">
					<a href="#"><img src="../assets/images/LOGO.png"></a>
				</div>
				<div class="col-8 text-center header-menu pl-0 pr-0">
					<ul>
						<li><a href="#home">Home</a></li>
						<li><a href="#product">Product</a></li>
						<li><a href="#promotion">Promotion</a></li>
						<li><a href="#blogs">Blogs</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>
				<div class="col-2 text-right pr-0 pl-0">
					<a href=""><span class="pe-7s-user"></span></a>
					<a href=""><span class="pe-7s-cart"></span></a>
					<span class="badge badge-dark">1</span>
				</div>
			</div>
		</div>
	</div>
	<div class="header-bottom">
		<div class="container">
			b
		</div>
	</div>
</header>
