<div class="col-md-12 m-0 p-0">  
    
        <aside id="left-panel" class="left-panel">
            <nav class="navbar navbar-expand-sm navbar-default">
      
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" routerLink="/"><img src="../assets/images/logo.png" alt="Logo"></a>
                <a class="navbar-brand hidden" routerLink="/"><img src="../assets/images/logo2.png" alt="Logo"></a>
            </div>
      
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a routerLink="/statistical" routerLinkActive="active"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>
                    <h3 class="menu-title">Statistical</h3><!-- /.menu-title -->
                      <li>
                          <a routerLink="/statistical"> <i class="menu-icon fa fa-line-chart"></i>Charts </a>
                      </li>
                      <li class="menu-item-has-children dropdown">
                          <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa  fa-map-marker"></i>Maps</a>
                          <ul class="sub-menu children dropdown-menu">
                              <li><i class="menu-icon fa fa-map-o"></i><a routerLink="">Google Maps</a></li>
                              <li><i class="menu-icon fa fa-street-view"></i><a routerLink="">Vector Maps</a></li>
                          </ul>
                      </li>
      
                    <h3 class="menu-title">Real Estate management</h3><!-- /.menu-title -->
                    
                      <li class="menu-item-has-children dropdown">
                          <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Real Estate</a>
                          <ul class="sub-menu children dropdown-menu">
                              <li><i class="fa fa-table"></i><a routerLink="#">Real Estate List</a></li>
                              <li><i class="fa fa-table"></i><a routerLink="#">Real Estate List(Expire)</a></li>
                          </ul>
                      </li>
  
                      <li>
                          <a routerLink="#"> <i class="menu-icon fa fa-sign-in"></i>Register Real Estate</a>
                      </li>
    
                    <h3 class="menu-title">Users Management</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Admin</a>
                        <ul class="sub-menu children dropdown-menu">
                              <li><i class="fa fa-table"></i><a routerLink="/user/list">List</a></li>
                              <li><i class="menu-icon fa fa-sign-in"></i><a routerLink="/user/register">Register</a></li>
                        </ul>
                    </li>
                      <li class="menu-item-has-children dropdown">
                          <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Customer</a>
                          <ul class="sub-menu children dropdown-menu">
                                <li><i class="fa fa-table"></i><a routerLink="#">List</a></li>
                          </ul>
                      </li>
  
                      <h3 class="menu-title">Report</h3><!-- /.menu-title -->
                      <li>
                          <a routerLink="#"> <i class="menu-icon fa fa-table"></i>List </a>
                      </li>
  
                </ul>
            </div><!-- /.navbar-collapse -->
            </nav>
        </aside><!-- /#left-panel -->
      
      <!-- Left Panel -->
      
      <!-- Right Panel -->
      
        <div id="right-panel" class="right-panel">
      
        <!-- Header-->
        <header id="header" class="header">
      
            <div class="header-menu">
      
                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>
      
                        <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="count bg-danger">5</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                                <p class="red">You have 3 Notification</p>
                                <a class="dropdown-item media bg-flat-color-1" routerLink="#">
                                <i class="fa fa-check"></i>
                                <p>Server #1 overloaded.</p>
                            </a>
                                <a class="dropdown-item media bg-flat-color-4" routerLink="#">
                                <i class="fa fa-info"></i>
                                <p>Server #2 overloaded.</p>
                            </a>
                                <a class="dropdown-item media bg-flat-color-5" routerLink="#">
                                <i class="fa fa-warning"></i>
                                <p>Server #3 overloaded.</p>
                            </a>
                            </div>
                        </div>
      
                        <div class="dropdown for-message">
                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="message"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-envelope"></i>
                                <span class="count bg-primary">9</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="message">
                                <p class="red">You have 4 Mails</p>
                                <a class="dropdown-item media bg-flat-color-1" routerLink="#">
                                <span class="photo media-left"><img alt="avatar" src="../assets/images/avatar/1.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Jonathan Smith</span>
                                    <span class="time float-right">Just now</span>
                                        <p>Hello, this is an example msg</p>
                                </span>
                            </a>
                                <a class="dropdown-item media bg-flat-color-4" routerLink="#">
                                <span class="photo media-left"><img alt="avatar" src="../assets/images/avatar/2.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Jack Sanders</span>
                                    <span class="time float-right">5 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </span>
                            </a>
                                <a class="dropdown-item media bg-flat-color-5" routerLink="#">
                                <span class="photo media-left"><img alt="avatar" src="../assets/images/avatar/3.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Cheryl Wheeler</span>
                                    <span class="time float-right">10 minutes ago</span>
                                        <p>Hello, this is an example msg</p>
                                </span>
                            </a>
                                <a class="dropdown-item media bg-flat-color-3" routerLink="#">
                                <span class="photo media-left"><img alt="avatar" src="../assets/images/avatar/4.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Rachel Santos</span>
                                    <span class="time float-right">15 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </span>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
      
                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a routerLink="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="../assets/images/admin.jpg" alt="User Avatar">
                        </a>
      
                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" routerLink="#"><i class="fa fa-user"></i> My Profile</a>
      
                            <a class="nav-link" routerLink="#"><i class="fa fa-user"></i> Notifications <span class="count">13</span></a>
      
                            <a class="nav-link" routerLink="#"><i class="fa fa-cog"></i> Settings</a>
      
                            <a class="nav-link" routerLink="#"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>
      
                    <div class="language-select dropdown" id="language-select">
                        <a class="dropdown-toggle" routerLink="#" data-toggle="dropdown"  id="language" aria-haspopup="true" aria-expanded="true">
                            <i class="flag-icon flag-icon-us"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="language">
                            <div class="dropdown-item">
                                <span class="flag-icon flag-icon-fr"></span>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-es"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-us"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-it"></i>
                            </div>
                        </div>
                    </div>
      
                </div>
            </div>
      
        </header><!-- /header -->
        <!-- Header-->
        
        <div class="breadcrumbs">
                <div class="col-sm-12">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
               
        </div>

        <router-outlet></router-outlet>
        
      
        </div><!-- /#right-panel -->
    
</div> 

